<footer class="section clearfix">
  <div class="links links1 col-md-4">
    <ul class="links-signup">
      <li class="hidden-xs hidden-sm">
        <a>
          {{glyph-icon set='aeo' type='gift'}}
          Gift Cards
        </a>
        <small>Gift them what they really want</small>
      </li>
      <li class="hidden-xs hidden-sm">
        <a>
          {{glyph-icon set='aeo' type='aeo-eagle'}}
          AEO Rewards
        </a>
        <small>Earn up to 40% on AEO &amp; Aerie.</small>
      </li>
      <li class="hidden-xs hidden-sm">
        <a>
          {{glyph-icon set='aeo' type='credit'}}
          AEO Credit Card
        </a>
        <small>
          Get 15% off your first purchase
          <span class="credit-card-links">
            <a>Apply Bill</a> | 
            <a>Pay Bill</a>
          </span>
        </small>
      </li>
      <li class="hidden-sm visible-md-block visible-lg-block">
        <a>
          {{glyph-icon set='aeo' type='phones'}}
          Mobile App
        </a>
        <small class="hidden-xs hidden-sm">
          Shop &amp; get exclusive deals right from your phone.
        </small>
      </li>
      <li class="hidden-xs hidden-sm">
        <a>
          {{glyph-icon set='aeo' type='blog'}}
          Blog: AEO | Aerie
        </a>
        <small>
          Style tips, DIY ideas &amp; more
        </small>
      </li>
    </ul>
  </div>
  <div class="links links2 col-xs-12 col-sm-6 col-md-4">
    <ul class="links-common">
      <li class="visible-xs-block visible-sm-block hidden-md hidden-lg">
        <a>
          {{glyph-icon set='aeo' type='phones'}}
          Mobile App
        </a>
        <small class="hidden-xs hidden-sm">
          Shop &amp; get exclusive deals right from your phone.
        </small>
      </li>
      <li>
        <a>
          {{glyph-icon set='aeo' type='locator'}}
          Store Locator
        </a>
      </li>
      <li>
        <a>
          {{glyph-icon set='aeo' type='mdot-truck'}}
          Track Order
        </a>
      </li>
      <li>
        <a>
          {{glyph-icon set='aeo' type='mail_new'}}
          Email Sign Up
        </a>
      </li>
      <li>
        <a>
          {{glyph-icon type='comment'}}
          Mobile Alert Sign-Up
        </a>
      </li>
      <li class="hidden-xs">
        <a>
          {{glyph-icon set='aeo' type='shopkick'}}
          Free 2-day Shipping
        </a>
      </li>
    </ul>
    <ul class="links-about-aeo hidden-xs hidden-sm">
      <li>
        <a>
          About AEO
        </a>
      </li>
      <li>
        <a>
          AEO Better World
        </a>
      </li>
      <li>
        <a>
          Careers
        </a>
      </li>
      <li>
        <a>
          Press Room
        </a>
      </li>
    </ul>
  </div>
  <div class="links links3 row col-xs-12 col-sm-6 col-md-4">
    {{glyph-icon set='aeo' type='question' class='col-xs-1'}}
    <ul class="links-contact-us col-xs-11 col-sm-10">
      <li>
        <a>
          Have a Question?
        </a>
      </li>
      <li>
        <a href="tel:+18882324535">
          Call Us: 1.888.232.4535
        </a>
      </li>
      <li>
        <a>
          Help
        </a>
      </li>
      <li class="hidden-xs">
        <a>
          Return Policy
        </a>
      </li>
      <li>
        <a>
          Feedback
        </a>
      </li>
    </ul>
    <div class="row">
      <div class="social-media col-xs-7">
        <h4 class="col-xs-12">Follow Us</h4>
        <a class="col-xs-2">
          {{glyph-icon set='aeo' type='facebook'}}
        </a>
        <a class="col-xs-2">
          {{glyph-icon set='aeo' type='twitter'}}
        </a>
        <a class="col-xs-2">
          {{glyph-icon set='aeo' type='instagram'}}
        </a>
        <a class="col-xs-2">
          {{glyph-icon set='aeo' type='pintrest'}}
        </a>
        <a class="col-xs-2">
          {{glyph-icon set='aeo' type='wanleocopy'}}
        </a>
        <a class="col-xs-2">
          {{glyph-icon set='aeo' type='tumblr'}}
        </a>
        <a class="hash hash1 col-xs-6">
          #AEOSTYLE
        </a>
        <a class="hash hash1 col-xs-6">
          #AERIEREAL
        </a>
      </div>
      <div class="col-xs-5"></div>
    </div>
  </div>
  <div class="copyright row col-xs-12">
    &copy; 2014 AEO Management Co. All Rights Reserved.
  </div>
</footer>
