
<header class="container-sm-height">
  <div class="clearfix row row-sm-height">
    {{glyph-icon type='aeo' set='aeo' 
        class='ae-logo hidden-xs col-sm-2 clickable col-sm-height'}}
    <nav class='header-navigation col-xs-2 col-sm-10 col-sm-height'>
      {{partial 'navigation'}}
    </nav>
    {{glyph-icon type='aeo-eagle' set='aeo' 
        class='visible-xs-block hidden-sm col-xs-8 clickable'}}
    <a class="bag-count-icon visible-xs-inline-block hidden-sm col-xs-2"
        {{action 'isBagOpenSlideUp' 'isBagOpen'}}>
      {{glyph-icon type='mdot-bag' set='aeo'}}
      <span class="bag-icon-count">4</span>
    </a>
  </div>
</header>

{{#slide-in over=isBagOpen id="slide-in-xs-bag-open" dir="left" slideIn90=true disableBodyScroll=true}}
  <a {{bind-attr class=':bag-count-icon :hidden-sm isBagOpen:show:hide'}}
      {{action 'isBagOpenSlideDown' 'isBagOpen'}}>
    {{glyph-icon type='mdot-bag' set='aeo'}}
    <span class="bag-icon-count">4</span>
  </a>
  {{view 'bag-overview'}}
{{/slide-in}}

{{#if isBagOpen}}
  <div class="navigation-open-bg" 
      {{action 'isBagOpenSlideDown' 'isBagOpen'}}></div>
{{/if}}
{{#if isNavigationOpen}}
  <div class="navigation-open-bg" 
      {{action 'isNavigationOpenSlideDown' 'isNavigationOpen'}}></div>
{{/if}}
